<a href="/dashboard" class="dashboard"> &larr; Back to Dashboard</a>
<section class="create-post">
  <h2>Create New Blog</h2>

  <form class="new-blog-form">
    <div>
      <div>Title</div>
      <label for="blog-title"></label>
      <input type="text" id="blog-title" name="blog-title" />
    </div>
    <div>
      <div class="blog-content">Content</div>
      <textarea name="blog-body"></textarea>
    </div>
    <button type="submit" class="blog-btn">Create</button>
  </form>
</section>

<script src="/javascript/add-blog.js"></script>