<div class="sign-up">
  <div class="second-div">
    <p>Sign Up For Tech Blog:</p>
    <form class="signup-form">
      <div>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup" />
      </div>
      <div>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
      </div>
      <div>
        <button class="btn" type="submit">Signup</button>
      </div>
    </form>
    <a href="/login">Login Instead</a>
  </div>
</div>

<script src="/javascript/signup.js"></script>