* {
  margin: 0;
}
/* MAIN CONTENT STYLING */

:root {
  --background-color: #f6e9eb;
  --dark-green: #2b4743;
  --light-pink: #ffd3db;
  --light-blue: #cedeeb;
  --coral: #da7073;
}

body {
  background-color: var(--background-color);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  margin: 20px;
  height: 100px;
  background-color: var(--dark-green);
  color: #f6e9eb;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

header h1 {
  font-size: 75px;
}

header h1 a {
  text-decoration: none;
  color: var(--background-color);
}

header nav a {
  text-decoration: none;
  color: var(--background-color);
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: var(--background-color);
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
  margin: 20px;
  flex: 100%;
}

footer {
  background-color: var(--light-blue);
  height: 100px;
  margin: 20px;
  padding: 20px;
  color: var(--dark-green);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: end;
  flex-shrink: 0;
}

footer p {
  font-weight: bold;
  font-size: 25px;
}

/* HOMEPAGE BLOG POST STYLING */

.blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog {
  margin: 15px 0;
  padding: 15px;
  background-color: var(--light-pink);
  flex: 0 0 60%;
}

.blog:nth-child(odd) {
  background-color: var(--coral);
}

.blog a {
  text-decoration: none;
  color: black;
}

.blog span {
  color: var(--dark-green);
  font-weight: bold;
}

.title {
  margin-bottom: 5px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 30px;
  text-transform: capitalize;
}

.info {
  font-size: 18px;
}

/* LOGIN PAGE STYLING */

.sign-up,
.login {
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.second-div {
  border: #2b4743 solid 3px;
  height: 300px;
  text-align: center;
}

.second-div a {
  text-decoration: none;
  color: var(--dark-green);
  font-size: 18px;
}

.sign-up p {
  font-weight: bold;
  font-size: 25px;
  padding: 15px;
  background-color: var(--light-pink);
  color: var(--dark-green);
  border-bottom: var(--dark-green) solid 3px;
}

.login p {
  font-weight: bold;
  font-size: 25px;
  padding: 15px;
  background-color: var(--light-blue);
  color: var(--dark-green);
  border-bottom: var(--dark-green) solid 3px;
}

.login-form div,
.signup-form div {
  margin: 20px 20px;
}

.login-form label,
.signup-form label {
  font-size: 20px;
}

.login-form button,
.signup-form button {
  background-color: var(--dark-green);
  color: var(--background-color);
  font-size: 20px;
  border: none;
  padding: 10px;
  width: 250px;
}

/* SINGLE BLOG POST FORMATTING */

.single-blog-post {
  margin: 0 30px;
}

.post-title {
  padding: 15px 0;
  border-bottom: var(--light-blue) solid 5px;
}

.post-title a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 45px;
  text-transform: capitalize;
}

.content {
  font-size: 22px;
  line-height: 1.25;
  padding: 15px 0;
  border-bottom: var(--light-blue) solid 5px;
}

.user-info {
  margin: 10px 0 0 0;
  font-size: 18px;
}

.user-info span {
  text-decoration: none;
  color: var(--dark-green);
  font-weight: bold;
}

.comment-form {
  margin: 60px 30px 0 30px;
}

.comment-form textarea {
  width: 500px;
  height: 100px;
}

.comment-form button {
  margin-top: 10px;
  border: none;
  background-color: var(--dark-green);
  color: var(--background-color);
  font-size: 20px;
  padding: 10px 20px;
}

.comments {
  margin: 15px 30px;
  width: 500px;
}

.comment {
  margin-top: 20px;
  background-color: var(--light-pink);
  padding: 10px;
}

.comment:nth-child(odd) {
  background-color: var(--coral);
}

.comment-text {
  font-size: 20px;
}

.comment-info {
  font-size: 16px;
  margin-top: 5px;
  font-weight: bold;
}

/* DASHBOARD STYLING */

.dashboard {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: var(--dark-green);
}

.create-post {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-post h2 {
  font-size: 50px;
}

.create-post input {
  width: 500px;
}

.blog-content {
  margin-top: 15px;
}

.create-post textarea {
  width: 500px;
  height: 200px;
}

.create-post button {
  margin-top: 10px;
  border: none;
  background-color: var(--dark-green);
  color: var(--background-color);
  font-size: 20px;
  padding: 10px 20px;
  width: 500px;
}

.blog-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-header h2 {
  font-size: 50px;
  text-transform: capitalize;
}

.create-btn button {
  width: 200px;
  font-size: 20px;
  background-color: var(--light-blue);
  color: var(--dark-green);
  border: var(--dark-green) solid 2px;
  padding: 20px 0;
  text-align: center;
}

.my-blog-posts {
  margin: 15px 0;
  padding: 15px;
  background-color: var(--light-pink);
}

.my-blog-posts a {
  text-decoration: none;
  color: black;
}

.my-blog-posts:nth-child(odd) {
  background-color: var(--coral);
}

.my-blog-posts span {
  color: var(--dark-green);
  font-weight: bold;
}

.my-title {
  margin-bottom: 5px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 30px;
  text-transform: capitalize;
}

.my-info {
  font-size: 18px;
}

.edit-btn button,
.delete-btn button {
  border: black solid 2px;
  background-color: var(--light-blue);
  font-size: 16px;
  margin: 10px 10px 0 0;
}

.edit-blog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.edit-blog h2 {
  font-size: 50px;
}

.form-title,
.form-content {
  margin-top: 15px;
}

.form-title input,
.form-content input {
  width: 500px;
  height: 40px;
  font-size: 20px;
}

.save-blog-btn {
  margin-right: 46px;
}

.save-blog-btn,
.delete-post-btn {
  width: 225px;
  margin-top: 15px;
  font-size: 18px;
  background-color: var(--dark-green);
  color: var(--background-color);
  border: none;
  padding: 10px 0;
}
